@charset "UTF-8";
/******************************************************************
Site Name:
Author: 

Stylesheet: Variables

******************************************************************/
/* line 3, ../scss/buttons.scss */
.button, .button-primary {
  display: inline-block;
  padding: 0 19px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none !important;
  font-family: "Open Sans", "Frutiger", Helvetica, Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  text-shadow: none !important;
  background-color: #ffcd00;
  color: #000;
  margin-bottom: 5px;
  -webkit-transition: none;
          transition: none;
  border: 0;
  -moz-osx-font-smoothing: grayscale;
}
/* line 20, ../scss/buttons.scss */
.button:hover, .button-primary:hover {
  text-decoration: none;
  color: #ffcd00;
  background-color: #000000;
}

/* line 27, ../scss/buttons.scss */
.button.icon {
  padding: 0 0 0 19px;
}
/* line 29, ../scss/buttons.scss */
.button.icon:hover {
  text-decoration: none;
  color: #000000;
  background-color: #ffcd00;
}
/* line 34, ../scss/buttons.scss */
.button.icon:after {
  font-size: 0.9em;
  text-align: center;
  margin-left: 19px;
  position: relative;
  z-index: 15;
  font-family: "icomoon";
  display: inline-block;
  width: 40px;
  content: "";
  font-weight: normal;
}
/* line 46, ../scss/buttons.scss */
.button.icon:hover:after {
  background: #000;
  color: #ffcd00;
}

/* line 52, ../scss/buttons.scss */
.button.left {
  padding: 0 19px 0 0;
}
/* line 54, ../scss/buttons.scss */
.button.left:after {
  margin-left: 0;
  width: 0;
  content: "" !important;
}
/* line 59, ../scss/buttons.scss */
.button.left:before {
  font-size: 0.9em;
  text-align: center;
  margin-right: 19px;
  position: relative;
  z-index: 15;
  font-family: "icomoon";
  display: inline-block;
  width: 40px;
  content: "";
  font-weight: normal;
}
/* line 71, ../scss/buttons.scss */
.button.left:hover:before {
  background: #000000;
  color: #ffcd00;
}

/* line 78, ../scss/buttons.scss */
.button.arrow-left:after, .button.arrow-left:before {
  content: "";
}

/* line 84, ../scss/buttons.scss */
.button.arrow-right:after, .button.arrow-right:before {
  content: "";
}

/* line 90, ../scss/buttons.scss */
.button.arrow-up:after, .button.arrow-up:before {
  content: "";
}

/* line 96, ../scss/buttons.scss */
.button.arrow-down:after, .button.arrow-down:before {
  content: "";
}

/* line 102, ../scss/buttons.scss */
.button.search:after, .button.search:before {
  content: "search";
}

/* line 108, ../scss/buttons.scss */
.button.ext-link:after {
  content: "";
  font-size: 0.8em;
}
/* line 112, ../scss/buttons.scss */
.button.ext-link:hover:after {
  background: #ffcd00;
  color: #000000;
}

/* line 119, ../scss/buttons.scss */
.button.yellow {
  background-color: #ffcd00;
  color: #000000;
}
/* line 122, ../scss/buttons.scss */
.button.yellow:hover:after {
  background-color: #000000;
  color: #ffcd00;
}

/* line 128, ../scss/buttons.scss */
.button.black {
  background-color: #000000;
  color: #ffffff !important;
}
/* line 131, ../scss/buttons.scss */
.button.black:hover {
  background-color: #000000;
  color: #ffffff;
}
/* line 135, ../scss/buttons.scss */
.button.black:hover:after, .button.black:hover:before {
  background-color: #ffffff;
  color: #000000;
}

/* line 141, ../scss/buttons.scss */
.button.white {
  background-color: #ffffff;
  color: #000000;
}
/* line 144, ../scss/buttons.scss */
.button.white:hover {
  background-color: #ffcd00;
  color: #000000;
}

/* line 150, ../scss/buttons.scss */
.button.border {
  border: 1px solid #000;
}

/* line 154, ../scss/buttons.scss */
.button.large {
  font-size: 20px;
  line-height: 60px;
}
/* line 157, ../scss/buttons.scss */
.button.large.icon {
  padding: 0 0 0 24px;
}
/* line 160, ../scss/buttons.scss */
.button.large.icon.left {
  padding: 0 24px 0 0;
}
/* line 163, ../scss/buttons.scss */
.button.large:after, .button.large:before {
  height: 60px;
  width: 60px;
}

/* line 170, ../scss/buttons.scss */
.button.small {
  font-size: 13px;
  line-height: 36px;
}
/* line 173, ../scss/buttons.scss */
.button.small.icon {
  padding: 0 0 0 13px;
}
/* line 176, ../scss/buttons.scss */
.button.small.icon.left {
  padding: 0 13px 0 0;
}
/* line 179, ../scss/buttons.scss */
.button.small:after, .button.small:before {
  height: 36px;
  width: 36px;
}

/*
*    Other (social) buttons
*
*/
/* line 191, ../scss/buttons.scss */
.icononly {
  font-size: 0.9em;
  text-align: center;
  position: relative;
  font-family: "icomoon";
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px !important;
  text-decoration: none !important;
}
/* line 202, ../scss/buttons.scss */
.icononly:before {
  position: absolute;
  margin-left: -14px;
  font-size: 32px;
}

/* line 209, ../scss/buttons.scss */
.linkedin {
  background-color: #0274B3;
}
/* line 211, ../scss/buttons.scss */
.linkedin:before {
  color: white;
  content: "";
  font-size: 22px;
  margin-left: -14px;
  margin-top: 0;
  padding: 0 0 0 5px;
}

/* line 221, ../scss/buttons.scss */
.facebook {
  background-color: #3B5997;
}
/* line 223, ../scss/buttons.scss */
.facebook:before {
  content: "";
  color: white;
}

/* line 229, ../scss/buttons.scss */
.twitter {
  background-color: #01ACEC;
}
/* line 231, ../scss/buttons.scss */
.twitter:before {
  content: "";
  color: white;
}

/* line 237, ../scss/buttons.scss */
.youtube {
  background-color: white;
}
/* line 239, ../scss/buttons.scss */
.youtube:before {
  color: #d62327;
  content: "";
  font-size: 33px;
  margin-left: -16px;
}

/* line 247, ../scss/buttons.scss */
.pinterest {
  background-color: white;
}
/* line 249, ../scss/buttons.scss */
.pinterest:before {
  color: #d62327;
  content: "";
  font-size: 39px;
  margin-left: -19px;
  margin-top: 0;
}

/* line 258, ../scss/buttons.scss */
.instagram {
  background-color: #246087;
}
/* line 260, ../scss/buttons.scss */
.instagram:before {
  content: "";
  font-size: 31px;
  margin-left: -15px;
  color: white;
}

/* line 269, ../scss/buttons.scss */
.googleplus:before {
  content: "";
  font-size: 25px;
  line-height: 42px;
  padding: 0 0 0 3px;
}

/* line 277, ../scss/buttons.scss */
.rss {
  background-color: transparent;
  font-weight: 300;
  margin: 10px 0 0 0;
}
/* line 281, ../scss/buttons.scss */
.rss:before {
  color: black;
  content: "";
  font-size: 20px;
  margin-right: 6px;
  font-family: "icomoon";
}
/* line 288, ../scss/buttons.scss */
.rss:hover {
  background: transparent;
  color: black;
}

/* line 294, ../scss/buttons.scss */
.sharebutton {
  height: 42px;
  width: 42px;
  background-color: black;
  margin-right: 57px;
  display: inline-block;
}
/* line 300, ../scss/buttons.scss */
.sharebutton:before {
  color: white;
  font-weight: normal;
}
/* line 305, ../scss/buttons.scss */
.sharebutton:after {
  background-color: #ffcd00;
  color: black;
  content: "" !important;
  display: inline-block;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  vertical-align: top;
  width: 42px;
  margin-left: 23px;
  font-weight: normal;
  padding: 0 0 0 3px !important;
}

/* line 324, ../scss/buttons.scss */
#content .page-content-inner .pager {
  font-family: "Open Sans", "Frutiger", Helvetica, Arial, sans-serif;
  background: #efefef;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  margin: 0 5px;
}
/* line 335, ../scss/buttons.scss */
#content .page-content-inner .pager:hover {
  background-color: #ffcd00;
}
/* line 338, ../scss/buttons.scss */
#content .page-content-inner .pager.active {
  background-color: #ffcd00;
}
/* line 341, ../scss/buttons.scss */
#content .page-content-inner .pager.back {
  background-color: black;
}
/* line 343, ../scss/buttons.scss */
#content .page-content-inner .pager.back a {
  color: #fff;
}
/* line 347, ../scss/buttons.scss */
#content .page-content-inner .pager.next {
  background-color: black;
}
/* line 349, ../scss/buttons.scss */
#content .page-content-inner .pager.next a {
  color: #fff;
  content: "";
  font-size: 0.9em;
  text-align: center;
  font-family: "icomoon";
  display: inline-block;
  width: 40px;
  height: 100%;
}

/* line 363, ../scss/buttons.scss */
#content .page-content-inner .page-navigation {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}
/* line 367, ../scss/buttons.scss */
#content .page-content-inner .page-navigation ul {
  margin: 0 auto;
  display: inline-block;
}
/* line 370, ../scss/buttons.scss */
#content .page-content-inner .page-navigation ul li {
  list-style: none outside none;
  float: left;
}

/* line 377, ../scss/buttons.scss */
.toggle-btn-div {
  margin-top: 10px;
}

/* line 381, ../scss/buttons.scss */
.toggle-btn {
  margin: 0;
}

/* line 385, ../scss/buttons.scss */
.frontpage-read-more {
  float: right;
  margin-right: -15px;
}
