/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet
******************************************************************/

// STEP 1: Import reset
@import "libs/normalize";

@import "includes/variables";

// STEP 2: Import all our resources

@import "bower_components/compass-mixin/lib/compass/css3/box-shadow";
@import "bower_components/compass-mixin/lib/compass/css3/box-sizing";
@import "bower_components/compass-mixin/lib/compass/css3/border-radius";

// STEP 4: Import our grid
// @import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/mixins/grid";
// @import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
// @import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/grid";


// Import Bootstrap elements
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap-compass";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/variables";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/scaffolding.scss";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/carousel";
//@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/navbar";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/navs";
//@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/forms";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/utilities";
@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/component-animations";
//@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap/modals";
//@import "bower_components/boostrap-sass/assets/stylesheets/bootstrap";

// STEP 3: Import all our libraries
//@import "includes/gravity-forms"; /* gravity forms styles - uncheck box to NOT output default CSS */
@import "libs/chosenjs"; /* better cross browser select inputs - see https://github.com/harvesthq/chosen for more info */
@import "libs/magnific-popup"; /* magnific lightbox styles - see https://github.com/dimsemenov/Magnific-Popup for more info */
@import "libs/icheck"; /* better radio and checkbox inputs - see http://fronteed.com/iCheck/ for more info; there are several different skins to choose from (a default is currently enabled) */
//@import "libs/iconizr-svg-sprite";

@import "includes/uu-huisstijl";
@import "includes/typography";
@import "includes/mixins";
//@import "includes/forms";
//@import "includes/offcanvas-nav";
@import "includes/brandbar";
@import "includes/header";
@import "includes/footer";
@import "includes/carousel";
@import "includes/widgetareas";
@import "includes/sidebar";
@import "includes/buttons";
@import "includes/navigation";
@import "includes/layout";
@import "includes/content";
@import "includes/search";
@import "includes/forms";
@import "includes/archive";
@import "includes/shortcodes";

@import "includes/cpt/agenda";
@import "includes/cpt/people";
@import "includes/cpt/news";

@import "includes/widgets/wpml";
@import "includes/widgets/image";

@import "includes/plugins/breadcrumb-navxt";

// STEP 6: Import our responsive stylesheets (where you'll put your styles)

/*
BASE (MOBILE) STYLES
This is where you add the majority of your styles. These will be loaded on all devices, so make sure this holds the bare minimum any device needs to view your site.
*/
@import "responsive-styles/xs";

/*
TABLET & SMALLER LAPTOPS
Here you can begin to add more resource-intensive styles.
*/
@media only screen and (min-width: $screen-sm-min) {
	@import "responsive-styles/sm";
}

/*
DESKTOP
*/
@media only screen and (min-width: $screen-md-min) {
	@import "responsive-styles/md";
}

/*
FULL VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: $screen-lg-min) {
	@import "responsive-styles/lg";
}


// STEP 4: Add in styles for retina devices, iPhone 5, and Print

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2+) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	//@import "includes/retina";
}

/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  // iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
}

/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
	@import "includes/print";
}
