[submodule "libraries/wp-bootstrap-navwalker"]
	path = libraries/wp-bootstrap-navwalker
	url = https://github.com/twittem/wp-bootstrap-navwalker
[submodule "libraries/bootstrap3"]
	path = libraries/bootstrap3
	url = https://github.com/components/bootstrap
[submodule "libraries/redux"]
	path = libraries/redux
	url = https://github.com/ReduxFramework/redux-framework
[submodule "libraries/option-tree"]
	path = libraries/option-tree
	url = https://github.com/valendesigns/option-tree
