/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/


.carousel,
.home-widget-area,
#container {
	max-width: $container-lg;
	margin: 0 auto;
}

.container-fluid,
.wrap,
.container {
	max-width: $container-lg-inner;
}

.carousel {
	margin: 0 auto;
}