.widget_uu_twitter_user_timeline_widget {
	padding-top: 1em;
}

.uutw_tweet {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
	img {
		float: left;
	}
	.uutw_created_at {
		font-size: 80%;
		margin-left: 10px;
	}
	p {
		clear: both;
	}
	.uutw_footer {
		font-size: 80%;	
	}
}