.widget_uu_twitter_user_timeline_widget {
	padding-top: 1em;
}

.uutw_tweet {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
	img {
		float: left;
	}
	.uutw_user {
		font-size: 15px;
		line-height: 1em;
		margin-left: 60px;
	}
	.uutw_created_at {
		font-size: 12px;
		margin-top: 5px;
	}
	p {
		clear: both;
		font-size: 15px;
		line-height: 1.6em;
		margin-top: 10px;
		margin-right: 20px;
	}
}