.home {

	.carousel-inner {
	.item {
		max-height: 400px;
		overflow: none;
		&.active {
			display: block;
		}
		@include bp(sm) {
			min-height: 400px;
		}
		@include bp(xs) {
			min-height: 300px;
		}
		.carousel-caption {
			left: 50%;
			right: 12%;
			padding-bottom: 50px;
			z-index: 100;
			@include bp(sm) {
				top: 90px;
        		bottom: auto;
        		left: 15px;
        		right: 15px;
			}
			@include bp(xs) {
				top: 50px;
        		bottom: auto;
			}
			.carousel-caption-text {
				background-color: $uu-foto-blok;
				padding: 2em;
				width: auto;
				bottom: 92px;
				h4 {
					font-size: 20px;
					font-weight: 300;
					margin: 0;
					color: #fff;
					@include bp(sm) {
						font-size: 20px;
				        font-weight: 300;
				        margin: 0;
				        width: 100%;
				        text-shadow: 0 0;
				        color: #333;
					}
				}
				@include bp(sm) {
        			background-color: #ffffff;
        			color: #333;
   				}
			}
			.carousel-caption-link {
				position: absolute;
				text-align: right;
				bottom: 5px;
				right: 0;
			}	

		}

	}


	}

	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		max-width: auto;
		width: 100%;
	}
	.carousel-controls {
		width: 180px;
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -90px;
		z-index:1001;
	}
	.carousel-buttons {
		width: 70px;
		float: left;
		margin: -11px 0 0 5px;
	}
	.carousel-indicators {
		width: auto;
		position: relative;
		margin: 0;
		bottom: 0;
		left: 0;
		float: left;
		li, li.active {
			width: 20px;
			height: 20px;
		}
	}

}
