#masthead h1 {
	@extend .uu-subsite-header;
    line-height: 55px;
    margin: 0;
    padding: 22px 0;
    color: $uu-title-color;
    @include bp(sm) {
		font-size: 24px;
		line-height: 30px;
		margin-left: 8px;
    }
    a, a:hover, a:focus {
		color: $uu-title-color;
		text-decoration: none;
		
	}
}

.header {
	background: #FFFFFF;
}


.header-image img {
	width: 100%;
	height: auto;
}

.banner-widget-area .textwidget {
	color: #fff;
    font-family: $uu-serif;
    font-size: 28px;
    margin: 50px 0 0;
    text-shadow: 1px 1px #000;
    width: 50%;
    @include bp(md) {
		font-size: 26px;
		margin: 40px 0 0;
		width: 65%;
    }
    @include bp(sm) {
		font-size: 24px;
		margin: 30px 0 0;
		width: 80%;
    }
}