#masthead h1 {
	@extend .uu-subsite-header;
    line-height: 108px;
    margin: 0;
    padding: 0;
    color: $uu-title-color;
    @include bp(sm) {
		font-size: 24px;
		line-height: 58px;
		margin-left: 8px;
    }
    a, a:hover, a:focus {
		color: $uu-title-color;
		text-decoration: none;
	}
}

.header {
	background: #FFFFFF;
}


.header-image img {
	width: 100%;
	height: auto;
}
