.home-widget-area {
	background-color: #fff; 
	padding: 1em 0 2em 0;
	h1, h2, h3 {
		font-size: 18px;
    	line-height: 28px;
    	font-weight: 400;
	}
}

#footer-widget-area {
	background-color: $uu-sub-footer;
	color: $uu-sub-color;
}

#footer-widget-area .widgettitle {
	color: #FFFFFF;
}

.below-content-widget-area {
		@extend .uu-quote;
		float: left;
		background-color:$uu-geel;
	    bottom: 0px;
	    padding: 100px;
	    //position: absolute;
	    //margin: 0;
	    margin-bottom: 0;
	    .widget.first-widget {
	    	margin: 0;
	    }
	    @include bp(md) {
			padding: 15px 15px 15px 30px;
			font-size: 31px;
		}
	    @include bp(sm) {
			font-size: 24px;
    		left: 0;
    		margin: 0;
    		padding: 8px 24px;
    		width: 100%;
    		position: relative;
   		}
}

.home-widget-area-0 {
	width: 800px;
	margin: 0 auto;
	padding: 2em 0 1em 0;
	@include bp(sm) {
		width: 80%;
	}
}

.banner-widget-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
}